*{
    margin: 0;
    padding: 0;
}
#resultado{
    width: 310px;
    height: 70px;
    background-color: black;
    border-radius: 20px;
    font-size: 55px;
    color: white;
    text-align: right;
    padding: 3px;
}
.fundo{
    background-image: linear-gradient(45deg, black, rgba(0, 0, 0, 0.900));
    height: 100vh;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.clean
{
    width: 70px;
    height: 70px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 35px;
    margin: 3px;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.712);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.botao{
    width: 69px;
    height: 69px;
    font-size: 25px;
    color: whitesmoke;
    cursor: pointer;
    
    background-color: rgba(0, 0, 0, 0.450);
    border-radius: 35px;
    margin: 3px;
}
.calculadores
{
    width: 70px;
    height: 70px;
    font-size: 25px;
    color: whitesmoke;
    cursor: pointer;
    background-color: darkviolet;
    border-radius: 35px;
    margin: 3px;
}



.botao:hover{
    background-color: black;
}



